{% extends "base_generic.html" %}
{% block content %}

<head>
<style>
table, th, td {
  border: 1px solid rgb(160,160,160);
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
}

a.ex3 {color: #bababa;
font-weight: bold;
}
a.ex2{color: #bababa; text-align:center}


th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
</style>
</head>
{% load static %}
    <h1 style="color:#bababa"> Class Timetable</h1>
    <hr>
    {% if user.is_authenticated %}
      <h5 style="color:#bababa">Admin Panel</h5>
      <p style="color:#bababa"><a class = "ex3" href = "">Update Timetable</a></p>
      <hr>
    {% endif %}
      <table border="1">
        <tr>
            <th>        </th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            <td>6am</td>
            <td>{% if user.is_authenticated %}
                <label for= "gym classes">Class:</label>
                <select name="class" id="gym classes">
                {% for class in gym_class_list %}
                <option value = "{{class.title}}">{{class.title}}</option>
                {% endfor %}
                </select>
                {% else %}
                <p>Cardio</p>
                {% endif %}</td>
        </tr>
        <tr>
            <td>7am</td>
        </tr>
        <tr>
            <td>8am</td>
        </tr>
        <tr>
            <td>9am</td>
        </tr>
        <tr>
            <td>10am</td>
        </tr>
        <tr>
            <td>11am</td>

        </tr>
        <tr>
            <td>12pm</td>
        </tr>
        <tr>
            <td>1pm</td>
        </tr>
        <tr>
            <td>2pm</td>
        </tr>
        <tr>
            <td>3pm</td>
        </tr>
        <tr>
            <td>4pm</td>
        </tr>
        <tr>
            <td>5pm</td>
        </tr>
    </table>

{% endblock %}
