{% extends "base_generic.html" %}
<head>
    <title>New Title</title>
</head>

{% block content %}
    
    <h1>Local Gym Fitness</h1>
    <p>
        Welocme to Local Gym Fitness, Better Together <em>H.Plume</em>
    </p>
    <h2>Dynamic content</h2>
    <p>The Gym has the following record counts:</p>
    <ul>
        <li><a href="{% url 'books' %}"><strong>Books:</strong></a> {{num_books }}</li> 
        <li><strong>Copies:</strong> {{num_instances}}</li>
        <li><strong>Copies Available:</strong> {{ num_instances_available }}</li>
        <li><a href="{% url 'authors' %}"><strong>Authors:</strong></a> {{ num_authors }}</li>
    </ul>

    <p>
        You Have Visited this page {{num_visits}} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}