{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<style>
.std-table{
  border: 2px solid #234091;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
}

.std-table th, .std-table td{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #234091;
    color: black;

}

.today-table{
    background-color: #d6d6d6;
}
a.ex3 {color: #bababa;
font-weight: bold;
}

a.ex2{color: #bababa;}
</style>
<body>
<h1>Update Timetable</h1>
    <form method="post">
        {% csrf_token %}
        <div style="display: none;">{{formset}}</div>
    <table class = "std-table">
        <thead>
            <tr>
                <th>24h Time</th>
                <th class="today-table">{{Day0}}</th>
                <th>{{Day1}}</th>
                <th>{{Day2}}</th>
                <th>{{Day3}}</th>
                <th>{{Day4}}</th>
                <th>{{Day5}}</th>
                <th>{{Day6}}</th>
            </tr>
        </thead>
        <tbody>
                
            {% for time in times %}
            <tr>
                <td>{{ time }}</td>  <!-- Display the time in the first column -->
                {% for form in formset %}  <!-- Display 7 forms per row -->
                    <td>
                        {{ form.gym_class }}  <!-- Render the form -->
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
        {% for formset_row in formset|slice:":7" %}
            <tr>
                {% for form in formset_row %}
                <td>{{form}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

        <button type="submit">Save Changes</button>
    </form> 
</body>
{% endblock %}