{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<style>
.std-table{
  border: 2px solid #234091;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding-left: 5px;
  padding-right: 5px;
}

.std-table th, .std-table td{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #234091;
    color: black;

}

.today-table{
    background-color: #d6d6d6;
}
a.ex3 {color: #bababa;
font-weight: bold;
}

a.ex2{color: #bababa;}
</style>
<body>
<h1>Update Timetable</h1>
    <form method="post">
        {% csrf_token %}
        <div style="display: none;">{{formset}}</div>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Gym Class</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>{{form.day}}</td>
                <td>{{form.time_slot}}</td>
                <td>{{form.gym_class}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <button type="submit">Save Changes</button>
    </form> 
</body>
{% endblock %}