{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<head >
    {% block title %}<title >{{user_profile.user}}'s Profile</title>{% endblock %}
<style> 
a.ex3 {color: #ffffff}
</style>
</head>
        <h2 style="color:#000000">{{user_profile.profile_picture.url}}  </h2>
        {% if user_profile.profile_picture %}
            <img src="{{user_profile.profile_picture.url}}" alt="Profile Picture" height = 200px>
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
        <h5>Currently Enrolled Classes</h5>
        <ul>
            <li>CrossFit Wed 25/10/2023</li>
        </ul>


{% endblock %}